<div class="explore-category-content">
    <div id="explore-category">
        <ul>
            <li>
                <img src="/img/icon/navbar/navbar-1.svg" alt="">
                <a href="#">Grafik & Tasarım</a>
                <div class="explore-seperator"></div>
            </li>
            <li>
                <img src="/img/icon/navbar/navbar-2.svg" alt="">
                <a href="#">İnternet Reklamcılığı</a>
                <div class="explore-seperator"></div>

            </li>
            <li>
                <img src="/img/icon/navbar/navbar-3.svg" alt="">
                <a href="#">Yazı & Çeviri</a>
                <div class="explore-seperator"></div>

            </li>
            <li>
                <img src="/img/icon/navbar/navbar-4.svg" alt="">
                <a href="#">Video & Animasyon</a>
                <div class="explore-seperator"></div>

            </li>
            <li>
                <img src="/img/icon/navbar/navbar-5.svg" alt="">
                <a href="#">Ses & Müzik</a>
                <div class="explore-seperator"></div>
            </li>
            <li>
                <img src="/img/icon/navbar/navbar-6.svg" alt="">
                <a href="#">Yazılım & Teknoloji</a>
                <div class="explore-seperator"></div>
            </li>
            <li>
                <img src="/img/icon/navbar/navbar-7.svg" alt="">
                <a href="#">İş & Yönetim</a>
            </li>
        </ul>
    </div>
</div> 