<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="header">
        <a href="/adverts" id="header-logo-link">
            <img id="header-logo" src="/img/logo/high-five-logo-E63262.png" alt="Bu logodur.">
        </a>
        <div id="header-links" style="display: block !important;">
            <ul id="header-list">
                <li id="header-links-homepage">
                    <a href="/adverts">Keşfet</a>
                </li>
                <li id="header-links-login"><a href="/login">Giriş Yap</a></li>
                <li id="header-links-register"><a href="/register">Kaydol</a></li>
            </ul>
        </div>
    </div>
    <div class="introduction">
        <div id="slogan-1">Özgürce freelancerlarla</div>
        <div id="slogan-2">işini tasarla.</div>
        <p id="slogan-sub">
            Sende bütün işlerini profesyonel freelancer'larla tamamlayabilirsin. 
            Sende kendi işinde deneyimliysen bizim aramıza katılarak katkıda bulunabilirsin.
        </p>
        <a href="/adverts" id="direct-link">
            Hadi Başla
        </a>
    </div>
    <div class="presentation-card-content">
        <div id="presentation-card-header">
            <div id="presentation-card-title"> 3N ile <span>Freelancer?</span></div>
            <div id="presentation-card-caption">İşinizi hayatınıza uyarlayın ve yeteneklerinizi özgürce sunun.</div>
        </div>
        <div class="pre-cards">
            <!--CARD1 -->
            <div class="pre-card">
                <img class="pre-card-img" src="/img/other/pre-1.png" alt="">
                <h1 class="pre-card-title">Neden</h1>
                <p class="pre-card-description">
                    Özgürlük ve Bağımsızlık: Freelancer olarak çalışmak, kendi programınızı belirleme özgürlüğüne sahip olmanızı sağlar.
                     Kendi işinizin patronu olursunuz ve çalışma saatlerinizi, projelerinizi ve müşterilerinizi seçme özgürlüğüne sahip olursunuz.
                </p>
            </div>
            <!--CARD2 -->
            <div class="pre-card">
                <img class="pre-card-img" src="/img/other/pre-2.jpg" alt="">
                <h1 class="pre-card-title">Ne Zaman</h1>
                <p class="pre-card-description">
                    Freelancer olarak çalışmak için sahip olduğunuz beceri ve uzmanlık alanları önemlidir.
                    Kendinizi belirli bir alanda yetenekli hissediyorsanız ve bu alanda projeler üretebileceğinize inanıyorsanız hemen başlayabilirsiniz.
                    </p>
            </div>
            <!--CARD3 -->
            <div class="pre-card">
                <img class="pre-card-img" src="/img/other/pre-3.png" alt="">
                <h1 class="pre-card-title">Nasıl</h1>
                <p class="pre-card-description">
                    Hemen sayfanın sağ üst köşesinde bulunan kaydol ile veya hadi başlayalım butonuna tıklayarak profil bilgilerinizi doldurarak
                    ilk işinizi almayı bekleyebilirsiniz. Alanları eksiksiz ve doğru doldurmayı unutmayınız.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div id="footer-top">
            <div id="footer-logo">
            <img src="/img/logo/high-five-logo-fff-E63262.png" alt="footer logosudur.">
            </div>
            <div id="footer-categories">
                <ul>
                    <li><a href="#">Kategoriler</a></li>
                    <li><a href="#">Grafik & Tasarım</a></li>
                    <li><a href="#">İnternet Reklamcılığı</a></li>
                    <li><a href="#">Yazı & Çeviri</a></li>
                    <li><a href="#">Yazılım & Teknoloji</a></li>
                    <li><a href="#">Video & Animasyon</a></li>
                    <li><a href="#">İş & Yönetim </a></li>
                </ul>
            </div>
            <div id="footer-support">
                <ul>
                    <li><a href="#">Destek</a></li>
                    <li><a href="#">Yardım Merkezi</a></li>
                    <li><a href="#">Nasıl Çalışır</a></li>
                    <li><a href="#">Sipariş İptal & İade Koşulları</a></li>
                    <li><a href="#">Bize Yazın</a></li>
                    <li><a href="#">İletişim</a></li>
                </ul>
            </div>
            <div id="footer-community">
                <ul>
                    <li><a href="#">Topluluk</a></li>
                    <li><a href="#">Freelancer Ol</a></li>
                    <li><a href="#">Geleceğin Çalışma Modeli</a></li>
                    <li><a href="#">A'dan Z'ye Freelancer Ne Demek?</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div id="footer-media">
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">İnstagram</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Linkedn</a></li>
                </ul>
            </div>
        </div>
        <div id="footer-bottom">
            <ul>
                <li><a href="#">Highfive Hakkında</a></li>
                <li><a href="#">Üyelik Sözleşmesi</a></li>
                <li><a href="#">Kullanım Şartları</a></li>
                <li><a href="#">Gizlilik ve Kişisel Verilerin Korunması Politikası</a></li>
                <li><a href="#">Highfive Bilgi Teknolojileri Paz. ve Tic. A.Ş. © 2023</a></li>
            </ul>
        </div>    
    </div>
</body>
</html>

