@import url(component.css);

body{
    background-color: var(--color-white-background); 
 }
 .ilan-card-message-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    padding: 0px 10px;
}

.ilan-card-message-div img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.ilan-cards{
    padding: 40px 100px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.ilan-card{
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    border-radius: 5px;
    background-color: var(--color-white);
}
.ilan-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.ilan-card-top-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ilan-card-top-profile span{
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-blue-light-border);
}
.ilan-card-top-profile a{

    font-size: 18px;
    font-weight: 400;
    color: var(--color-blue-dark);
}
.ilan-card-top-profile a:hover{
    text-decoration: underline;
}

.ilan-card-top-profile img:first-child{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.ilan-card-mid img{
    width: 300px;
}
.ilan-card-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.ilan-card-bottom #sil{
    color: var(--color-white);
    font-size: 18px;
    width: 108px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--color-red);
    display: block;
    line-height: 35px;
    text-align: center;
    margin-left: 15px;
}
.ilan-card-bottom #duzenle{
    color: var(--color-white);
    font-size: 18px;
    width: 108px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--color-green-light);
    display: block;
    line-height: 35px;
    text-align: center;
}

#duzenle:hover{
    background-color: var(--color-green-light-hover);
}
#sil:hover{
    background-color: var(--color-red-hover);
}