<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/freelancers.css">
    <title>Freelancerlar</title>
</head>
<body>
    <!--HEADER-->
    <%- include('partials/_header') %>
    <div class="freelancer-cards">
        <!--CARD-->
        <% for(user of users) {%>
        <div class="freelancer-card">
            <div class="freelancer-card-profile-top">
                <div class="freelancer-card-profile-top-avatar">
                    <img src="/img/avatar/profile-1.png" alt="">
                </div>
                <a href=" /users/<%=user._id %>" class="freelancer-card-profile-top-name"> <%= user.name + " " + " " + user.surname  %> </a>
                <div class="freelancer-card-profile-top-job">Ses Mühendisi</div>
                <div class="line"></div>
            </div>
            <div class="freelancer-card-profile-mid">
                <ul>
                    <li><img src="/img/icon/profile/birtday.svg" alt=""><span>23 Yaş</span></li>
                    <li><img src="/img/icon/profile/experience.svg" alt=""><span>1 Yıl</span></li>
                    <li><img src="/img/icon/profile/language.svg" alt=""><span>İngilizce</span></li>
                    <li><img src="/img/icon/profile/hobi.svg" alt=""><span>Çizim & Satranç</span></li>
                </ul> 
            </div>
            <div class="freelancer-card-profile-btm"></div>
        </div>
        <%}%>
    </div>
    
    <!--FOOTER-->
    <%- include('partials/_footer') %>
</body>
</html>