@import url(component.css);

body{
   background-color: var(--color-white-background); 
}

.favorite-card-message-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    padding: 0px 10px;
}

.favorite-card-message-div img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.favorite-cards{
    padding: 40px 100px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.favorite-card{
    width: 370px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    border-radius: 5px;
    background-color: var(--color-white);
}
.favorite-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.favorite-card-top-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorite-card-top-profile span{
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-blue-light-border);
}
.favorite-card-top-profile a{

    font-size: 18px;
    font-weight: 400;
    color: var(--color-blue-dark);
    overflow-wrap: break-word;
   
}
.favorite-card-top{
    position: relative;
    
}
.advert-card-avatar-img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: var(--color-red);
    position: absolute;
    top: -15px;
    right: -15px;
    border: 1px solid var(--color-blue-dark);
    overflow: hidden;
    
}
.advert-card-avatar-img img{
    width: 32px;
    height: 32px;
}

.favorite-card-top-profile-text{
    width: 270px;
}
.favorite-card-top-profile a:hover{
    text-decoration: underline;
}

.favorite-card-top img:first-child{
    width: 20px;
    height: 20px;
    
}
.favorite-card-top-profile img:first-child{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.favorite-card-mid img{
    width: 370px;
}
.favorite-card-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.favorite-card-bottom a{
    color: var(--color-white);
    font-size: 18px;
    width: 108px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--color-red);
    display: block;
    line-height: 35px;
    text-align: center;
}
.favorite-card-bottom #kaldir:hover{
    background-color: var(--color-red-hover);
}